In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df1=pd.read_csv("titanic_train.csv")
df2=pd.read_csv("titanic_test.csv")
df=pd.concat([df1,df2],ignore_index=True)

C:\Users\harman\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [4]:
df.shape

(1309, 12)

In [5]:
df.shape

(1309, 12)

In [6]:
df.isna().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

In [7]:
df=df[df['Survived'].isna()==False]
#for i in a:
 #   df=df.drop(i)

In [8]:
df.isna().sum()

Age            177
Cabin          687
Embarked         2
Fare             0
Name             0
Parch            0
PassengerId      0
Pclass           0
Sex              0
SibSp            0
Survived         0
Ticket           0
dtype: int64

In [9]:
df['Survived'].value_counts()

0.0    549
1.0    342
Name: Survived, dtype: int64

In [10]:
df['has_cabin']=df['Cabin'].notna()

In [11]:
df['has_cabin']

0      False
1       True
2      False
3       True
4      False
5      False
6       True
7      False
8      False
9      False
10      True
11      True
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23      True
24     False
25     False
26     False
27      True
28     False
29     False
       ...
861    False
862     True
863    False
864    False
865    False
866    False
867     True
868    False
869    False
870    False
871     True
872     True
873    False
874    False
875    False
876    False
877    False
878    False
879     True
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887     True
888    False
889     True
890    False
Name: has_cabin, Length: 891, dtype: bool

In [12]:
import re
df['Title']='Special'
for key,value in df.iterrows():
    df['Title'][key]=re.findall(r', \w{1,}.',value['Name'])[0][2:]

C:\Users\harman\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [14]:
df=df.fillna(method='ffill')

In [16]:
df['Categorial_age']=pd.qcut(df['Age'],q=4,labels=False)

In [17]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5      35.0
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      2.0
18     31.0
19     31.0
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26     38.0
27     19.0
28     19.0
29     19.0
       ...
861    21.0
862    48.0
863    48.0
864    24.0
865    42.0
866    27.0
867    31.0
868    31.0
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878    19.0
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888    19.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [18]:
df['Categorial_age']

0      1
1      2
2      1
3      2
4      2
5      2
6      3
7      0
8      1
9      0
10     0
11     3
12     0
13     3
14     0
15     3
16     0
17     0
18     2
19     2
20     2
21     2
22     0
23     1
24     0
25     2
26     2
27     0
28     0
29     0
      ..
861    1
862    3
863    3
864    1
865    3
866    1
867    2
868    2
869    0
870    1
871    3
872    2
873    3
874    1
875    0
876    0
877    0
878    0
879    3
880    1
881    2
882    1
883    1
884    1
885    3
886    1
887    0
888    0
889    1
890    2
Name: Categorial_age, Length: 891, dtype: int64

In [19]:
df['Categorial_fare']=pd.qcut(df['Fare'],q=4,labels=False)

In [20]:
df['Categorial_fare']

0      0
1      3
2      1
3      3
4      1
5      1
6      3
7      2
8      1
9      2
10     2
11     2
12     1
13     3
14     0
15     2
16     2
17     1
18     2
19     0
20     2
21     1
22     1
23     3
24     2
25     3
26     0
27     3
28     0
29     0
      ..
861    1
862    2
863    3
864    1
865    1
866    1
867    3
868    1
869    1
870    0
871    3
872    0
873    1
874    2
875    0
876    1
877    0
878    0
879    3
880    2
881    0
882    1
883    1
884    0
885    2
886    1
887    2
888    2
889    2
890    0
Name: Categorial_fare, Length: 891, dtype: int64

In [24]:
df=df.drop(['Cabin', 'Name', 'PassengerId', 'Ticket', 'Age', 'Fare', 'SibSp', 'Parch'],axis=1)

In [25]:
df=pd.get_dummies(df)

In [27]:
x=df.iloc[:,[0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]]

In [28]:
y=df.iloc[:,[1]]

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(668, 26)
(668, 1)
(223, 26)
(223, 1)

In [30]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

C:\Users\harman\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype bool, uint8, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\harman\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype bool, uint8, int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\harman\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype bool, uint8, int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [31]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

C:\Users\harman\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\harman\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [32]:
y_pred = classifier.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score

In [35]:
accuracy_score(y_test,y_pred)

0.7937219730941704