In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df1=pd.read_csv('mnist_train.csv')

In [4]:
df2=pd.read_csv('mnist_test.csv')

In [6]:
df=pd.concat([df1,df2])

In [7]:
df.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
x=df.iloc[:,1:].values

In [9]:
y=df.iloc[:,0:1].values

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

C:\Users\harman\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\harman\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\harman\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [13]:
from sklearn.decomposition import PCA
pca=PCA(0.95)
x_train=pca.fit_transform(x_train)
x_test=pca.transform(x_test)

In [14]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)

In [15]:
classifier.fit(x_train,y_train)

C:\Users\harman\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\harman\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\harman\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [16]:
y_pred=classifier.predict(x_test)

In [17]:
result=pd.DataFrame({'Actual':list(y_test),'Predicted':list(y_pred)})
result.head(10)

  Actual  Predicted
0    [0]          0
1    [4]          4
2    [1]          1
3    [2]          2
4    [7]          4
5    [9]          4
6    [7]          7
7    [1]          1
8    [1]          1
9    [7]          7

In [18]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
print('Accuracy Score:',score)

Accuracy Score: 0.9104285714285715

In [19]:
from sklearn.metrics import confusion_matrix
matrix=confusion_matrix(y_test,y_pred)
matrix

array([[1347,    1,    4,    1,    4,    7,   18,    0,    5,    0],
       [   0, 1533,    9,    7,    2,    7,    3,    1,   17,    1],
       [  12,   22, 1284,   27,   20,    4,   15,   14,   41,    4],
       [   6,    8,   56, 1241,    1,   46,    3,   16,   37,   21],
       [   2,    4,   10,    1, 1259,    4,    8,    9,    6,   47],
       [  10,    5,   10,   43,   13, 1069,   24,    7,   39,   11],
       [  11,    4,   17,    3,   10,   20, 1310,    1,   10,    1],
       [   4,   11,   26,    4,   19,    5,    2, 1334,    7,   46],
       [   8,   42,   12,   26,   11,   43,    9,    4, 1184,   29],
       [   6,    7,   10,   24,   56,   13,    1,   48,   11, 1185]],
      dtype=int64)

In [23]:
from sklearn.metrics import classification_report
report=classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.96      0.97      0.96      1387
           1       0.94      0.97      0.95      1580
           2       0.89      0.89      0.89      1443
           3       0.90      0.86      0.88      1435
           4       0.90      0.93      0.92      1350
           5       0.88      0.87      0.87      1231
           6       0.94      0.94      0.94      1387
           7       0.93      0.91      0.92      1458
           8       0.87      0.87      0.87      1368
           9       0.88      0.87      0.88      1361

   micro avg       0.91      0.91      0.91     14000
   macro avg       0.91      0.91      0.91     14000
weighted avg       0.91      0.91      0.91     14000